@import url(https://fonts.googleapis.com/css2?family=PT+Sans&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap);

// Fontes principais
$fonte-principal: 'PT Sans', sans-serif;
$fonte-secundaria: 'Playfair Display', serif;

* {
    text-decoration: none;

    body {
        margin: 0 auto;
    }

    a {
        color: #737373;
    }

    a:hover {
        background-color: seashell;
        padding: 3px;
        border-radius: 3px;
    }

    nav {
        height: 60px;
        background-color: lightgrey;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav > h1 {
        font-family: $fonte-principal;
        float: left;
    }

    nav ul {
        text-align: center;
        margin: 0;
        padding: 0;
    }

    nav li {
        display: inline;
        padding: 20px;
        font-family: $fonte-principal;
    }

    nav .icons {
        position: relative;
        right: 30px;
        font-size: 1.5em;
    }

    nav img.logo {
        position: relative;
        width: 110px;
        height: 50px;
    }

    nav > .fa-align-justify {
        display: none;
    }

    input[type=text] {
        width: 85%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: none;
        border-bottom: 2px solid grey;
        display: inline-block;
    }

    .input-button {
        display: inline-block;
        font-family: $fonte-secundaria;
    }

    .input-button:hover {
        color: #fff;
        background-color: black;
        cursor: pointer;
        padding: 5px 5px;
        border-radius: 5px;
    }

    .icons > i {
        padding: 5px;
    }

    hr {
        margin-top: 500px;
    }

    [cards] {
        width: 100%;
        height: 400px;
        display: flex;
        align-items: center;
    }

    [cards-grandes] {
        height: 400px;
        background-color: lightgray;
        padding: 50px;
    }

    [cards-lateral] {
        position: relative;
        top: 420px;
        height: 500px;
    }

    [section-instagram] {
        position: relative;
        display: flex;
        justify-content: space-between;
        top: 450px;
        height: 500px;
        padding-top: 50px;
    }

    [section-footer] {
        position: relative;
        top: 20px;
        height: 300px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        column-gap: 40px;
        margin: 0 auto;
    }

    .grid-container > div {
        background-color: grey;
        text-align: center;
        width: 150px;
        height: 150px;
        border-radius: 50%
    }

    .grid-container-torto {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
        margin: 0 auto;
    }

    .grid-container-torto > div > p {
        margin-top: 50px;
        font-family: $fonte-principal;
    }

    .grid-container-torto > div > h1 + p {
        width: 70%;
        margin-top: 5px;
    }

    .grid-container-torto h1 {
        width: 70%;
        font-family: $fonte-principal;
    }

    .card-torto1 {
        position: relative;
        top: 50px;
        width: 350px;
        height: 450px;
        background-color: grey;
        float: right;
        p {
            text-align: center;
            font-family: $fonte-principal;
            color: #cccccc;
        }
    }

    .card-torto1 img {
        position: relative;
        width: 100%;
        height: 370px;
    }

    .card-torto2 {
        position: relative;
        width: 350px;
        height: 290px;
        margin: 0 auto;
        background-color: grey;
        p {
            text-align: center;
            font-family: $fonte-principal;
            color: #cccccc;
        }
    }

    .card-torto2 img {
        position: relative;
        width: 100%;
        height: 200px;
    }

    .card-torto3 {
        position: relative;
        width: 350px;
        height: 450px;
        top: 10px;
        margin: 0 auto;
        background-color: gray;
        p {
            text-align: center;
            font-family: $fonte-principal;
            color:#cccccc
        }
    }

    .card-torto3 img {
        position: relative;
        width: 100%;
        height: 370px;
    }
    
    [cards-lateral] .fundo {
        position:relative;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
        background-color: lightgrey;
        padding:0 50px 0;
        width: 80%;
        height: 460px;
    }
    
    .fundo div {
        padding-top: 40px;
        font-family: $fonte-principal;
    }

    .fundo div:nth-child(1) {
        float: right;
    }

    .fundo div:nth-child(1) > img {
        width: 300px;
        height: 380px;
        float: right;
    }

    .fundo div:nth-child(2) > h1 {
        width: 200px;
        position: relative;
        top: 10px;
    }

    .fundo div:nth-child(2) > p {
        width: 230px;
        top: 10px;
        position: relative;
    }

    .fundo div:nth-child(3) {
        display: grid;
        align-items: center;
    }

    .fundo div:nth-child(3) img {
        position: relative;
        top: -20px;
        left: 120px;
        width: 410px;
        height: 290px;
    }

    .button {
        position: relative;
        top: 28px;
        background-color: black;
        padding: 10px 40px;
        border-radius: 4px;
        color: blanchedalmond;
    }

    [section-instagram] > div:nth-child(1) > img, [section-instagram] > div:nth-child(3) > img {
        width: 350px;
        height: 350px;
        margin: 40px;
    }

    [section-instagram] > div:nth-child(2) > h1 {
        text-align: center;
        position: relative;
        font-family: $fonte-principal;
        top: -20px;
    }

    [section-instagram] > div:nth-child(2) > div {
        box-sizing: border-box;
        width: 350px;
        height: 350px;
        margin: 40px;
        background-color: #a8a8a8;
        padding: 90px 50px;
        span {
            color:#000;
            font-family: $fonte-secundaria;
        }
    }

    [section-footer] > div > h1 {
        font-family: $fonte-principal;
    }

    [section-footer] > div:nth-child(1) {
        flex-basis: 250px;
        margin: 0 auto;
    }

    [section-footer] > div:nth-child(2) {
        flex-basis: 500px;
        margin: 0 auto;
    }

    [section-footer] > div:nth-child(3) {
        flex-basis: 200px;
        margin: 0 auto;
    }

    [section-footer] > div > ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    [section-footer] > div > ul > li {
        padding-top: 10px;
        font-family: $fonte-principal;
    }

    .final-links {
        display: flex;
        flex-wrap: wrap;
        span {
            width: 110px;
            margin-top: 10px;
            font-family: $fonte-principal;
        }
    }

    .logo-final {
        margin: -42px auto;
        text-align: center;
        font-family: $fonte-principal;
        width: 100px;
        background-color: #fff;
        padding: 20px;
    }

    .swiper-container {
        width: 100%;
        height: 500px;
    }

    .swiper-slide {
        background-color: grey;
    }

    .swiper-slide > img {
        width: 100%;
        height: 100%;
    }
}

@media only screen and (max-width: 1120px) {
    body {
      margin: 0 auto;

        hr {
            margin-top: 2370px;
        }
    
        [cards] {
            height: 650px;
            .grid-container {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            }
            .grid-container > div {
                margin: 5px;
            }
        }

        [cards-grandes]
            .grid-container-torto {
            grid-template-columns: auto;
            .card-torto1 {
                float: none;
                margin: 0 auto;
            }
            .card-torto2 {
                position: relative;
                top: 70px;
            }
            .card-torto3 {
                position: relative;
                top: 90px;
            }
        }

        [cards-lateral] > .fundo {
            grid-template-columns: none;
            grid-template-rows: repeat(2, 1fr);
            width: 100%;
            padding: 0;
            margin: 0 auto;
        }
        [cards-lateral] .fundo > div:nth-child(3) {
            display: none;
        }

        [cards-lateral] .fundo div:nth-child(1) { 
            float: none;
            text-align: center;
            img {
                float: none;
            }
        }

        [cards-lateral] .fundo div:nth-child(2) {
            text-align: center;
            margin: 0 auto;
        }

        [section-instagram] {
            position: relative;
            top: 1500px;
        }

        [cards-lateral] {
            top: 1100px;
            .fundo {
                width: 100%;
            }
        }

        [section-instagram] {
            flex-direction: column;
        }

        [section-instagram] > div {
            margin: auto;
        }

    }
}

@media only screen and (max-width: 900px) {
    body {
        .input-button {
            display: block;
            text-align: center;
        }

        input[type=text] {
            width: 95%;
        }

        [section-footer] {
            flex-direction: column;
            div {
                text-align: center;
            }
        }
    }
}

@media only screen and (max-width: 830px) {
    * nav .icons {
        display: none;
    }
}

@media only screen and (max-width: 698px) {
    nav > .fa-align-justify {
        display: block;
        font-size: 1.5em;
        cursor: pointer;
    }
    nav ul {
        display: none;
        li {
            display: block;
        }
    }
}